<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ボタンを押さないといけないサイト</title>
    <link rel="stylesheet" href="index.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="./app/assets/javascripts/btn.js"></script>
  </head>
  <body>
    <header class="header"></header>
    <div class="contents">
      <div href="#" class="bottam-content">ボタン</div>
      <div class="text-content">押さないでください</div>
    </div>
    <footer class="footer"></footer>
  </body>
</html>