.header {
  background-color: yellow;
  width: 100%;
  height: 30px;
}

.footer {
  background-color: yellow;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
}

.bottam-content:hover{
  background-color: rgb(63, 63, 63);
  box-shadow: 0px 1px 2px 1px gray;
  transform: translateY(3px);
}

.bottam-content {
  color: yellow;
  background-color: black;
  box-shadow: 0px 3px 4px 3px gray;
  width: 5em;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.text-content {
  line-height: 40px;
  text-align: center;
}